@font-face
    font-family: 'Futura-Duplex'
    font-weight: 600
    src: url('Hershey-Noailles-Futura-Duplex-Bold.ttf')
@font-face
    font-family: 'Futura-Duplex'
    font-weight: 400
    src: url('Hershey-Noailles-Futura-Duplex-Regular.otf')
@font-face
    font-family: 'Futura-Triplex'
    font-weight: 400
    src: url('Hershey-Noailles-Futura-Triplex-Regular.ttf')
// $base: #CCBECC
$base: #1D1C1D
$blue: #4100FF
$pink: #E84A67
$spacing-S: 48px
$spacing-XS: 30px
$breakpoint: 960px
$breakpoint-S: $breakpoint / 2

*
    box-sizing: border-box

// button reset
button
    border: none
    margin: 0
    padding: 0
    width: auto
    overflow: visible
    text-align: inherit
    outline: none
    background: transparent
    color: inherit
    font: inherit
    line-height: normal
    -webkit-font-smoothing: inherit
    -moz-osx-font-smoothing: inherit
    -webkit-appearance: none
    &::-moz-focus-inner
        border: 0
        padding: 0
.compress
    letter-spacing: -2px

html
    width: 100%
    height: 100%
    ::selection
        background: $blue
        text-shadow: 0 1px blue
body
    margin: 0
    background: $base
    color: $pink
    text-shadow: 0 1px $blue
    font-family: 'Futura-Duplex'
    font-size: 22px
    min-height: 100%
    line-height: 1.33
    @media only screen and (max-width: $breakpoint-S)
        font-size: 18px
header
    text-align: center
    color: transparent
    font-size: 1px
    display: flex
    justify-content: center
    align-items: center
    margin-top: 1.5 * $spacing-S
    margin-bottom: 0.5 * $spacing-S
    @media only screen and (max-width: $breakpoint)
        margin-top: 1.25 * $spacing-S
    h1
        position: relative
        width: 148px
        height: 16px
        transform: scale(1.2)
        @media only screen and (max-width: $breakpoint-S)
            transform: scale(0.9)
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
.video-section
    width: 100%
    display: flex
    justify-content: center
    padding-left: $spacing-S
    padding-right: $spacing-S
    @media only screen and (max-width: $breakpoint)
        // padding-top: $spacing-XS
        padding-left: $spacing-XS
        padding-right: $spacing-XS
.video-container
    position: relative
    width: 100%
    max-width: 1280px
    // aspect-ratio: 640 / 267
    padding-bottom: 41%
#video-canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 20
    pointer-events: none
    background: $base
    transition: opacity 1s linear
.play-button
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 21
    display: flex
    justify-content: center
    align-items: center
    color: white
    text-shadow: 0 1px $blue
    cursor: pointer
    // background: $base
iframe, embed
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: 100%
    height: 100%
#background-canvas
    width: 100%
    height: 100vh
.artist-info
    margin: 0 auto
    width: 100%
    max-width: 1080px
    display: flex
    justify-content: center
    flex-wrap: wrap
.artist-info_column
    flex: 0 1 $breakpoint / 2
    margin-top: $spacing-S
    // margin-bottom: $spacing-S
    @media only screen and (max-width: $breakpoint)
        margin-top: $spacing-XS
        // margin-bottom: $spacing-XS
.artist-info_bio
    padding-left: $spacing-S
    padding-right: 0
    @media only screen and (max-width: $breakpoint)
        padding-left: $spacing-XS
        padding-right: $spacing-XS / 2
    @media only screen and (max-width: $breakpoint-S)
        padding-left: $spacing-XS
        padding-right: $spacing-XS
        text-align: justify
        text-justify: inter-word
.artist-info_links
    font-size: 18px
    padding-right: $spacing-S
    padding-left: $spacing-S
    padding-top: 6px
    @media only screen and (max-width: $breakpoint)
        padding-left: $spacing-XS
        padding-right: $spacing-XS
        padding-top: 0
    @media only screen and (max-width: $breakpoint-S)
        font-size: 14px
    .links
        display: flex
        margin-left: -16px
        @media only screen and (max-width: $breakpoint-S)
            margin-left: -12px
        .links-list
            flex: 1 0 50%
    address
        font-style: normal
p
    margin: 0
a.link
    color: inherit
    text-decoration: none
    &:hover
        color: white
.arrow
    font-family: monospace
    font-size: 0.8em

.blink
    animation: blink-animation 1s steps(4, start) infinite
@keyframes blink-animation
  to
    visibility: hidden



#map-canvas
    background: white
    position: fixed
    z-index: -1
    top: -200vh
    left: 0

footer
    display: flex
    justify-content: center
    padding-bottom: 0.5 * $spacing-S
    padding-top: 1.5 * $spacing-S
    @media only screen and (max-width: $breakpoint)
        padding-top: 1.25 * $spacing-S
    @media only screen and (max-width: $breakpoint-S)
        transform: scale(0.9)
    .logo
        width: 24px
        height: 24px